* {
  box-sizing: border-box;
  margin: 0; }

.finger {
  -moz-transition: transform 0.75s, height 0.75s;
  -o-transition: transform 0.75s, height 0.75s;
  -webkit-transition: transform 0.75s, height 0.75s;
  transition: transform 0.75s, height 0.75s;
  transform-origin: top;
  display: inline-block;
  position: relative;
  width: 20%;
  border: 1px solid black;
  border-radius: 10%;
  background-color: burlywood; }

#fingers {
  position: absolute;
  bottom: 20%;
  left: 0%;
  height: auto;
  width: 80%;
  font-size: 0; }

#palm {
  position: absolute;
  bottom: 0;
  left: 17%;
  width: 63%;
  height: 40%;
  border: 1px solid black;
  border-radius: 10%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background: #e9d0af; }

#finger-block {
  position: absolute;
  left: 20%;
  width: 80%;
  height: 83%;
  bottom: -1px;
  background: #e9d0af;
  z-index: 0; }

#hand {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 400px; }
  #hand.zero .finger {
    z-index: 1; }
  #hand.zero .first {
    height: 20vh;
    transform: translateY(0vh); }
  #hand.zero .second {
    height: 22vh;
    transform: translateY(2vh); }
  #hand.zero .third {
    height: 21vh;
    transform: translateY(1vh); }
  #hand.zero .fourth {
    height: 18.5vh;
    transform: translateY(-1.5vh); }
  #hand.zero .fifth {
    height: 19.5vh;
    transform-origin: bottom;
    transform: translateX(0px) rotate(45deg);
    z-index: 2; }
  #hand.one .finger {
    z-index: 1; }
  #hand.one .first {
    height: 20vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.one .second {
    height: 22vh;
    transform: translateY(2vh); }
  #hand.one .third {
    height: 21vh;
    transform: translateY(1vh); }
  #hand.one .fourth {
    height: 18.5vh;
    transform: translateY(-1.5vh); }
  #hand.one .fifth {
    height: 19.5vh;
    transform-origin: bottom;
    transform: translateX(0px) rotate(48deg);
    z-index: 2; }
  #hand.two .finger {
    z-index: 1; }
  #hand.two .first {
    height: 20vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.two .second {
    height: 22vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.two .third {
    height: 21vh;
    transform: translateY(1vh); }
  #hand.two .fourth {
    height: 18.5vh;
    transform: translateY(-1.5vh); }
  #hand.two .fifth {
    height: 19.5vh;
    transform-origin: bottom;
    transform: translateX(0px) rotate(49deg);
    z-index: 2; }
  #hand.three .finger {
    z-index: 1; }
  #hand.three .first {
    height: 20vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.three .second {
    height: 22vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.three .third {
    height: 21vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.three .fourth {
    height: 18.5vh;
    transform: translateY(-1.5vh); }
  #hand.three .fifth {
    height: 19.5vh;
    transform-origin: bottom;
    transform: translateX(0px) rotate(50deg);
    z-index: 2; }
  #hand.four .finger {
    z-index: 1; }
  #hand.four .first {
    height: 20vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.four .second {
    height: 22vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.four .third {
    height: 21vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.four .fourth {
    height: 18.5vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.four .fifth {
    height: 19.5vh;
    transform-origin: bottom;
    transform: translateX(0px) rotate(48deg);
    z-index: 2; }
  #hand.five .finger {
    z-index: 1; }
  #hand.five .first {
    height: 20vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.five .second {
    height: 22vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.five .third {
    height: 21vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.five .fourth {
    height: 18.5vh;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(4.5vh) rotateX(-165deg); }
  #hand.five .fifth {
    height: 19.5vh;
    transform-origin: bottom;
    transform: translateX(65px) rotate(-40deg);
    z-index: 1;
    background: #e9d0af;
    border-bottom: none; }

ul {
  display: block;
  margin: 50px auto;
  text-align: center;
  font-size: 40px; }

li {
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer; }
  li.selected {
    background: #ff3333; }

/*# sourceMappingURL=style.css.map */
