// sass --watch public/assets/sass/style.scss:public/css/style.css
*{box-sizing: border-box;margin:0}

$handColor: burlywood;
$heights: (20,22,21,18.5,19.5);
$mainOffset: 20;
$thumbH: nth($heights, 5);
$dimension: 400;

@mixin fingerTransition($speed){
  -moz-transition:transform ($speed)+s,height ($speed)+s, background ($speed)+s, z-index ($speed)+s;
  -o-transition:transform ($speed)+s,height ($speed)+s, background ($speed)+s, z-index ($speed)+s;
  -webkit-transition:transform ($speed)+s,height ($speed)+s, background ($speed)+s, z-index ($speed)+s;
  transition: transform ($speed)+s,height ($speed)+s, background ($speed)+s, z-index ($speed)+s;
  transform-origin: top;
}
@mixin fingerZ{
  .finger{
    z-index:1;
  }
}
@mixin fingerDown($h){
  height:$h+vh;
  transform:translateY(($h - $mainOffset)+vh);
}
@mixin fingerUp($h){
  height:$h+vh;
  background:lighten($handColor,10);
  z-index:0;
  transform: translateY((4.5)+vh)rotateX(-165deg);
}
@mixin thumb($h,$a,$z,$x){
  height:$h+vh;
  transform-origin: bottom;
  transform: translateX(($x)+px)rotate(($a)+deg);
  z-index:$z;
}
@mixin upDown($idx,$finger,$h){
  @if $finger > $idx {
    @include fingerDown($h);
  } @else {
    @include fingerUp($h);
  }
}
@mixin handState($idx){
  @include fingerZ;
  .first{
    @include upDown($idx,1,nth($heights, 1))
  }
  .second{
    @include upDown($idx,2,nth($heights, 2))
  }
  .third{
    @include upDown($idx,3,nth($heights, 3))
  }
  .fourth{
    @include upDown($idx,4,nth($heights, 4))
  }
}

.finger{
  @include fingerTransition(0.75);
  display: inline-block;
  position:relative;
  width:20%;
  border:1px solid black;
  border-radius: 10%;
  background-color: $handColor;
}
#fingers{
  position:absolute;
  bottom:20%;
  left:0%;
  height:auto;
  width:80%;
  font-size:0;
}
#palm{
  position:absolute;
  bottom:0;
  left:17%;
  width:63%;
  height:40%;
  border:1px solid black;
  border-radius:10%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background:lighten($handColor,10);
}
#finger-block{
  position:absolute;
  left:20%;
  width:80%;
  height:83%;
  bottom:-1px;
  background:lighten($handColor,10);
  z-index:0;
}
#hand{
  position:relative;
  margin:0 auto;
  height:($dimension)+px;
  width:($dimension)+px;

  &.zero{
    @include handState(0);
    .fifth{
      @include thumb($thumbH,45,2,0)
    }
  }
  &.one{
    @include handState(1);
    .fifth{
      @include thumb($thumbH,48,2,0)
    }
  }
  &.two{
    @include handState(2);
    .fifth{
      @include thumb($thumbH,49,2,0)
    }
  }
  &.three{
    @include handState(3);
    .fifth{
      @include thumb($thumbH,50,2,0)
    }
  }
  &.four{
    @include handState(4);
    .fifth{
      @include thumb($thumbH,48,2,0)
    }
  }
  &.five{
    @include handState(5);
    .fifth{
      @include thumb($thumbH,-40,1,65);
      background:lighten($handColor,10);
      border-bottom:none;
    }
  }
}
ul{
  display:block;
  margin:50px auto;
  text-align: center;
  font-size: 40px;
}
li{
  display:inline-block;
  line-height: 50px;
  vertical-align: middle;
  height:50px;
  width:50px;
  border:1px solid black;
  border-radius:5px;
  cursor: pointer;
  &.selected{
    background:lighten(red,10)
  }
}
button{
  margin:0 auto;
  margin-top:200px;
  height:100px;
  width:auto;
  font-size:48px;
  display:block;
}
input{
  display:block;
  width:550px;
  height:50px;
  font-size:32px;
  margin:0 auto;
}
