// sass --watch public/sass/style.scss:public/css/style.css
@import url(https://fonts.googleapis.com/css?family=VT323);

$baseHand: burlywood;
$lightHand:lighten($baseHand,10);
$heights:(150,170,160,140,140);
$mainOffset: 150;
$thumbH: nth($heights, 5);
$dimension: 375;

@mixin whitewash($o){
  background: rgba(255,255,255,$o);
}
$pFont:'VT323',sans-serif;

@mixin fingerTransition($speed){
  -moz-transition:transform ($speed)+s,height ($speed)+s, background ($speed)+s, z-index ($speed)+s;
  -o-transition:transform ($speed)+s,height ($speed)+s, background ($speed)+s, z-index ($speed)+s;
  -webkit-transition:transform ($speed)+s,height ($speed)+s, background ($speed)+s, z-index ($speed)+s;
  transition: transform ($speed)+s,height ($speed)+s, background ($speed)+s, z-index ($speed)+s;
  transform-origin: top;
}
@mixin fingerZ{
  .finger{
    z-index:1;
  }
}
@mixin fingerDown($h){
  height:($h)+px;
  transform:translateY(($h - $mainOffset)+px)rotateX(-360deg);
  -webkit-transform:translateY(($h - $mainOffset)+px)rotateX(-360deg);
}
@mixin fingerUp($h){
  height:($h)+px;
  background:$lightHand;
  z-index:0;
  transform:translateY(($h - $mainOffset + 20)+px)rotateX(-165deg);
  -webkit-transform:translateY(($h - $mainOffset + 20)+px)rotateX(-165deg);
  border-top:none;
}
@mixin thumb($h,$a,$z,$x){
  height:($h)+px;
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  transform:translateY(-25px)translateX(($x)+px)rotate(($a)+deg);
  -webkit-transform:translateY(-25px)translateX(($x)+px)rotate(($a)+deg);
  z-index:$z;
}
@mixin upDown($idx,$finger,$h){
  @if $finger > $idx {
    @include fingerDown($h);
  } @else {
    @include fingerUp($h);
  }
}
@mixin handState($idx){
  @include fingerZ;
  .first{
    @include upDown($idx,1,nth($heights, 1))
  }
  .second{
    @include upDown($idx,2,nth($heights, 2))
  }
  .third{
    @include upDown($idx,3,nth($heights, 3))
  }
  .fourth{
    @include upDown($idx,4,nth($heights, 4))
  }
}
*{
  font-family: $pFont;
  box-sizing: border-box;
  margin:0
}
body{
  width:100vw;
}
.container{
  @include whitewash(0.3);
}
.finger{
  @include fingerTransition(0.75);
  display: inline-block;
  position:relative;
  width:20%;
  border:1px solid black;
  border-radius: 10%;
  background-color: $baseHand;
}
#fingers{
  position:absolute;
  bottom:20%;
  left:0%;
  height:auto;
  width:80%;
  font-size:0;
}
#palm{
  position:absolute;
  bottom:0;
  left:16%;
  width:64%;
  height:58%;
  border:1px solid black;
  border-top:none;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background:$lightHand;
  z-index:1;
}
#hand{
  position:relative;
  margin:0 auto;
  height:($dimension)+px;
  width:($dimension)+px;

  &.zero{
    @include handState(0);
    .fifth{
      @include thumb($thumbH,65,2,0)
    }
  }
  &.one{
    @include handState(1);
    .fifth{
      @include thumb($thumbH,62,2,0)
    }
  }
  &.two{
    @include handState(2);
    .fifth{
      @include thumb($thumbH,65,2,0)
    }
  }
  &.three{
    @include handState(3);
    .fifth{
      @include thumb($thumbH,63,2,0)
    }
  }
  &.four{
    @include handState(4);
    .fifth{
      @include thumb($thumbH,60,2,0)
    }
  }
  &.five{
    @include handState(5);
    .fifth{
      @include thumb($thumbH,-50,1,65);
      background:$lightHand;
      border-bottom:none;
    }
  }
  &.tapping{

  }
}
#ui{
  position:relative;
  margin:0 auto;
  height:auto;
  width:($dimension)+px;
  margin:20px auto 0 auto;
  ul{
    padding:0;
    font-size:0;
  }
  li{
    display:inline-block;
    text-align: center;
    line-height: ($dimension/6.1)+px;
    vertical-align: middle;
    height:($dimension/6.1)+px;
    width:($dimension/6.1)+px;
    font-size: ($dimension/6.1)+px;
    border:1px solid black;
    border-radius:5px;
    cursor: pointer;
    &.selected{
      @include whitewash(0.60);
    }
  }
  .counts li{
    line-height: ($dimension/12.2)+px;
    height:($dimension/12.2)+px;
    cursor:default;
    border:none;
    font-size: ($dimension/16)+px;
  }
  p{
    text-align: right;
    padding:5px;
    padding-right:20px;
  }
}
header{
  padding:20px;
  @include whitewash(0.3);
  font-size: 54px;
  font-weight: bold;
  margin-bottom:20px;
  width:100%;
}
footer{
  margin-top:35vh;
  padding:20px;
  @include whitewash(0.3);
  font-size: 22px;
  text-align: center;
  width:100%;
}
button{
  margin:0 auto;
  margin-top:100px;
  height:auto;
  width:auto;
  padding:10px;
  font-size:48px;
  display:block;
  font-weight: bold;
  border-radius: 10px;
  cursor:pointer;
  @include whitewash(0.2);
  &.copy{
    margin-top:0;
    font-size:24px;
  }
}
input{
  display:block;
  width:100%;
  height:50px;
  font-size:32px;
  margin:30px auto;
  border-radius: 10px;
  padding-left:5px;
}
input, button{
  &:focus,&:active{
    outline:none;
  }
}
a{
  color:black;
  &:active,&:focus,&:visited{
    color:black;
  }
  &:hover{
    font-weight:bold;
  }
}
h2{
  text-align: center;
  margin:20px auto;
  font-size:36px;
}
