<h1>That is not a valid poll!</h1>
<div id="hand" class="tapping">
  <div id="palm"></div>
  <div id="fingers">
    <div class="fifth finger"></div>
    <div class="first finger"></div>
    <div class="second finger"></div>
    <div class="third finger"></div>
    <div class="fourth finger"></div>
  </div>
</div>
