<div id="ui">
  <input type="text" name="prompt" placeholder="What is your question?">
  <button class="generate" >Get URL</button>
  <input type="text" name="url" value="">
  <button class="copy">Copy URL</button>
</div>
<script src="js/button.js"></script>
