<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>A Quick Fist of Five</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    A Quick Fist-of-Five
  </header>
  {{{body}}}
  <footer>
    By <a target="_blank" href="http://cpgruber.github.io">Chase Gruber</a>.
    Code <a target="_blank" href="http://github.com/cpgruber/fist-of-five">here</a>. 
  </footer>
</body>
</html>
