<h2>{{doc.prompt}}</h2>
<div id="hand" class="zero">
  <div id="palm"></div>
  <div id="fingers">
    <div class="fifth finger"></div>
    <div class="first finger"></div>
    <div class="second finger"></div>
    <div class="third finger"></div>
    <div class="fourth finger"></div>
  </div>
</div>
<div id="ui">
  <ul class="votes">
    <li value="zero">0</li>
    <li value="one">1</li>
    <li value="two">2</li>
    <li value="three">3</li>
    <li value="four">4</li>
    <li value="five">5</li>
  </ul>
  <ul class="counts">
    <li value="zero"></li>
    <li value="one"></li>
    <li value="two"></li>
    <li value="three"></li>
    <li value="four"></li>
    <li value="five"></li>
  </ul>
  <p>Average Vote: <span id="vote-avg">No votes</span></p>
  <p>Votes Cast: <span id="vote-count">No votes</span></p>
  <p>Active Users: <span id="count">No users</span></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/app.js"></script>
