<div id="hand" class="zero">
  <div id="palm"></div>
  <div id="fingers">
    <div class="fifth finger"></div>
    <div class="first finger"></div>
    <div class="second finger"></div>
    <div class="third finger"></div>
    <div class="fourth finger"></div>
    <div id="finger-block"></div>
  </div>
</div>
<ul>
  <li class="selected" value="zero">0</li>
  <li value="one">1</li>
  <li value="two">2</li>
  <li value="three">3</li>
  <li value="four">4</li>
  <li value="five">5</li>
</ul>
<p>
  Active Users: <span id="count">0</span>
</p>
<script src="/socket.io/socket.io.js"></script>
<script src="js/app.js"></script>
