@import url(https://fonts.googleapis.com/css?family=VT323);
* {
  font-family: "VT323", sans-serif;
  box-sizing: border-box;
  margin: 0; }

body {
  width: 100vw; }

.container {
  background: rgba(255, 255, 255, 0.3); }

.finger {
  -moz-transition: transform 0.75s, height 0.75s, background 0.75s, z-index 0.75s;
  -o-transition: transform 0.75s, height 0.75s, background 0.75s, z-index 0.75s;
  -webkit-transition: transform 0.75s, height 0.75s, background 0.75s, z-index 0.75s;
  transition: transform 0.75s, height 0.75s, background 0.75s, z-index 0.75s;
  transform-origin: top;
  display: inline-block;
  position: relative;
  width: 20%;
  border: 1px solid black;
  border-radius: 10%;
  background-color: burlywood; }

#fingers {
  position: absolute;
  bottom: 20%;
  left: 0%;
  height: auto;
  width: 80%;
  font-size: 0; }

#palm {
  position: absolute;
  bottom: 0;
  left: 16%;
  width: 64%;
  height: 58%;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  background: #e9d0af;
  z-index: 1; }

#hand {
  position: relative;
  margin: 0 auto;
  height: 375px;
  width: 375px; }
  #hand.zero .finger {
    z-index: 1; }
  #hand.zero .first {
    height: 150px;
    transform: translateY(0px); }
  #hand.zero .second {
    height: 170px;
    transform: translateY(20px); }
  #hand.zero .third {
    height: 160px;
    transform: translateY(10px); }
  #hand.zero .fourth {
    height: 140px;
    transform: translateY(-10px); }
  #hand.zero .fifth {
    height: 140px;
    transform-origin: bottom;
    transform: translateY(-25px) translateX(0px) rotate(65deg);
    z-index: 2; }
  #hand.one .finger {
    z-index: 1; }
  #hand.one .first {
    height: 150px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(20px) rotateX(-165deg); }
  #hand.one .second {
    height: 170px;
    transform: translateY(20px); }
  #hand.one .third {
    height: 160px;
    transform: translateY(10px); }
  #hand.one .fourth {
    height: 140px;
    transform: translateY(-10px); }
  #hand.one .fifth {
    height: 140px;
    transform-origin: bottom;
    transform: translateY(-25px) translateX(0px) rotate(62deg);
    z-index: 2; }
  #hand.two .finger {
    z-index: 1; }
  #hand.two .first {
    height: 150px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(20px) rotateX(-165deg); }
  #hand.two .second {
    height: 170px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(40px) rotateX(-165deg); }
  #hand.two .third {
    height: 160px;
    transform: translateY(10px); }
  #hand.two .fourth {
    height: 140px;
    transform: translateY(-10px); }
  #hand.two .fifth {
    height: 140px;
    transform-origin: bottom;
    transform: translateY(-25px) translateX(0px) rotate(65deg);
    z-index: 2; }
  #hand.three .finger {
    z-index: 1; }
  #hand.three .first {
    height: 150px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(20px) rotateX(-165deg); }
  #hand.three .second {
    height: 170px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(40px) rotateX(-165deg); }
  #hand.three .third {
    height: 160px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(30px) rotateX(-165deg); }
  #hand.three .fourth {
    height: 140px;
    transform: translateY(-10px); }
  #hand.three .fifth {
    height: 140px;
    transform-origin: bottom;
    transform: translateY(-25px) translateX(0px) rotate(63deg);
    z-index: 2; }
  #hand.four .finger {
    z-index: 1; }
  #hand.four .first {
    height: 150px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(20px) rotateX(-165deg); }
  #hand.four .second {
    height: 170px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(40px) rotateX(-165deg); }
  #hand.four .third {
    height: 160px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(30px) rotateX(-165deg); }
  #hand.four .fourth {
    height: 140px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(10px) rotateX(-165deg); }
  #hand.four .fifth {
    height: 140px;
    transform-origin: bottom;
    transform: translateY(-25px) translateX(0px) rotate(60deg);
    z-index: 2; }
  #hand.five .finger {
    z-index: 1; }
  #hand.five .first {
    height: 150px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(20px) rotateX(-165deg); }
  #hand.five .second {
    height: 170px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(40px) rotateX(-165deg); }
  #hand.five .third {
    height: 160px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(30px) rotateX(-165deg); }
  #hand.five .fourth {
    height: 140px;
    background: #e9d0af;
    z-index: 0;
    transform: translateY(10px) rotateX(-165deg); }
  #hand.five .fifth {
    height: 140px;
    transform-origin: bottom;
    transform: translateY(-25px) translateX(65px) rotate(-50deg);
    z-index: 1;
    background: #e9d0af;
    border-bottom: none; }

#ui {
  position: relative;
  margin: 0 auto;
  height: auto;
  width: 375px;
  margin: 20px auto 0 auto; }
  #ui ul {
    padding: 0;
    font-size: 0; }
  #ui li {
    display: inline-block;
    text-align: center;
    line-height: 61.47541px;
    vertical-align: middle;
    height: 61.47541px;
    width: 61.47541px;
    font-size: 61.47541px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer; }
    #ui li.selected {
      background: rgba(255, 255, 255, 0.6); }
  #ui .counts li {
    line-height: 30.7377px;
    height: 30.7377px;
    cursor: default;
    border: none;
    font-size: 23.4375px; }
  #ui p {
    text-align: right;
    padding: 5px;
    padding-right: 20px; }

header {
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%; }

footer {
  margin-top: 35vh;
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 22px;
  text-align: center;
  width: 100%; }

button {
  margin: 0 auto;
  margin-top: 100px;
  height: auto;
  width: auto;
  padding: 10px;
  font-size: 48px;
  display: block;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  color: black; }
  button.copy {
    margin-top: 0;
    font-size: 24px; }

input {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 32px;
  margin: 30px auto;
  border-radius: 10px;
  padding-left: 5px; }

input:focus, input:active, button:focus, button:active {
  outline: none; }

a {
  color: black; }
  a:active, a:focus, a:visited {
    color: black; }
  a:hover {
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
